.profile-picture {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    background-color: #FFFFFF;
}

.profile-show {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}

.profile-show .profile-picture {
    margin-bottom: 20px;
}

.profile-show .profile-picture, .profile-edit .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff690f;
}

.profile-show > div {
    border: 3px solid #ff690f;
}

.profile-show > div:last-child {
    background-color: #F1F1F1;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.profile-show > div > h2 {
    text-align: center;
    color: #ff690f;
    margin-bottom: 10px;
}

.profile-show .button {
    text-align: center;
    margin-top: 10px;
}

.profile-edit {
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.profile-edit > div > div {
    background-color: #F1F1F1;
    padding: 10px;
    border: 3px solid #ff690f;
}

.profile-edit > div:first-child {
    margin-right: 20px;
}

.profile-edit .profile-picture {
    margin-bottom: 10px;
}

.profile-edit input[type="file"] {
    max-width: 150px;
}

.profile-edit > div:nth-of-type(2) {
    width: 400px;
}

.profile-edit form {
    display: flex;
    flex-direction: column;
}

.profile-edit form > * {
    width: 100%;
}

.profile-edit form > label:not(:first-child), .profile-edit form > div, .profile-edit form > input[type="submit"] {
    margin-top: 10px;
}
