#register-login {
    background-color: #F1F1F1;
    width: 400px;
    padding: 10px;
    margin: 20px 0;
    border: 3px solid #ff690f;
}

#register-login > h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #ff690f;
}

#register-login > div {
    margin-bottom: 10px;
}

#register-login form {
    display: flex;
    flex-direction: column;
}

#register-login form > * {
    width: 100%;
}

#register-login form > label:not(:first-child), #register-login form > div, #register-login form > input[type="submit"] {
    margin-top: 10px;
}