{% extends "TMCoreBundle::layout.html.twig" %}

{% block title %}
	Erreur {{ status_code }}
{% endblock %}

{% block classBody %}with-background{% endblock %}

{% block classMain %}center-content{% endblock %}

{% block main %}
	<div class="error">
		<h1>Oups ! Une erreur s'est produite.</h1>
		<h2>Le serveur a retourné l'erreur : "{{ status_code }} {{ status_text }}".</h2>
		<div>
			Faites-nous savoir ce que vous faisiez lorsque cette erreur s'est produite. Nous allons réparer cela dès
			que	possible. Désolé pour tout dérangement causé.
		</div>
	</div>
{% endblock %}
