.detail, .comments {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 1200px;
}

.detail > div, .detail .action, .detail .second-line {
    display: flex;
}

.detail .first-line, .detail .first-line > div:first-child > *:not(:last-child) {
    margin-bottom: 20px;
}

.detail .first-line > div:first-child, .detail .action .button:first-child {
    margin-right: 20px;
}

.detail figure {
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    background-color: #FF690F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail figure img {
    width: 200px;
}

.detail figure figcaption {
    margin-top: 10px;
}

.detail .action .button {
    flex: 1;
    display: flex;
    justify-content: center;
}

.detail .countries, .detail .categories, .detail .second-line {
    border: 1px solid #C6C6C6;
    background-color: #FFFFFF;
    padding: 10px;
}

.detail .countries > p, .detail .categories > p {
    margin-bottom: 10px;
}

.detail .countries ul li {
    display: flex;
    align-items: center;
}

.detail .first-line > div:last-child h2 {
    margin-bottom: 10px;
    color: #FF690F;
}

.detail .first-line > div:last-child p {
    text-align: justify;
}

.detail .second-line p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .dollar {
    width: 8px;
    margin-left: 2px;
}

.detail .dollar:first-child {
    margin-left: 5px;
}

.detail .value {
    color: #FF690F;
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}

.comments .form-add-comment, .comments .form-edit-comment {
    display: flex;
}

.comments .form-add-comment {
    padding: 20px 0;
    border-bottom: 1px solid #C6C6C6;
    border-top: 1px solid #C6C6C6;
}

.comments .form-edit-comment {
    display: none;
}

.comments .form-add-comment textarea, .comments .form-edit-comment textarea {
    flex: 1;
    margin: 0 10px 0 0;
}

.comments .comment {
    margin-top: 20px;
    border: 1px solid #C6C6C6;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
}

.comments .comment figure {
    width: 50px;
    margin-right: 10px;
}

.comments .comment img {
    width: 100%;
}

.comments .comment .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments .comment .by {
    display: flex;
    justify-content: space-between;
    color: #FF690F;
}

.comments .comment .action {
    display: flex;
    justify-content: flex-end;
}

.comments .comment .action > *:not(:last-child) {
    margin-right: 10px;
}

.comments .comment .action form {
    height: 15px;
}

.comments .delete {
    background: transparent url("../img/delete.png") no-repeat center center;
    background-size: cover;
    border: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 0;
}

.comments .edit {
    background: transparent url("../img/edit.png") no-repeat center center;
    background-size: cover;
    border: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}