.list-travel {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0 20px;
    justify-content: center;
    flex-direction: column;
}

.list-travel > li {
    margin-bottom: 20px;
}

.list-travel a {
    display: flex;
    align-items: center;
}

.list-travel a:hover figure img, .list-travel a:hover .description {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
}

.list-travel figure {
    height: 100%;
    margin-right: 20px;
}

.list-travel img {
    height: 130px;
    border-radius: 100px;
    border: 2px solid #FF690F;
    transition: box-shadow 0.5s;
}

.list-travel .description {
    border: 2px solid #FF690F;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    height: 100%;
    transition: box-shadow 0.5s;
    flex: 1;
    flex-direction: column;
}

.list-travel .description > p:last-child {
    margin-top: 5px;
    border-top: 1px solid #C6C6C6;
    padding-top: 5px;
}

.list-travel .description .value, .list-travel .countries ul {
    color: #FF690F;
    font-weight: bold;
}

.list-travel .countries, .list-travel .countries ul {
    display: flex;
}

.list-travel .countries p {
    margin-right: 5px;
}