.list-travel {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0 20px;
    justify-content: center;
    flex-direction: column;
}

.list-travel > li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.list-travel > li > a:first-child {
    margin-right: 20px;
}

.list-travel > li > a:nth-of-type(2) {
    flex: 1;
}

.list-travel .profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #ff690f;
    transition: box-shadow 0.5s;
}

.list-travel .description {
    border: 2px solid #FF690F;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: border-radius 0.3s;
}

.list-travel .description:hover {
    border-top-right-radius: 65px;
}

.list-travel .description .sheet-effect {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 50px;
    height: 50px;
    transition: top 0.3s, right 0.3s;
}

.list-travel .description:hover .sheet-effect {
    top: 0;
    right: 0;
}

.list-travel .description .bottom-curve {
    transform: rotate(20deg);
    position: absolute;
    background: transparent;
    height: 40px;
    width: 70px;
    bottom: -35px;
    right: -16px;
    border-top: 2px solid #FF690F;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%
}

.list-travel .description .left-curve {
    transform: rotate(-20deg);
    position: absolute;
    background: transparent;
    height: 70px;
    width: 40px;
    left: -35px;
    top: -16px;
    border-right: 2px solid #FF690F;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}

.list-travel .description > p:last-child {
    margin-top: 5px;
    border-top: 1px solid #C6C6C6;
    padding-top: 5px;
}

.list-travel .description .value, .list-travel .countries ul {
    color: #FF690F;
    font-weight: bold;
}

.list-travel .countries, .list-travel .countries ul {
    display: flex;
    flex-wrap: wrap;
}

.list-travel .countries p {
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    .list-travel > li > a:first-child {
        display: none;
    }
}