#map {
    height: calc(100vh - 80px);
}

#map > div:first-child > div:first-child > div:nth-of-type(2),
#map > div:first-child > div:first-child > div:nth-of-type(4),
#map > div:first-child > div:first-child > div:nth-of-type(6),
#map > div:first-child > div:first-child > div:nth-of-type(7) {
    display: none;
}

/* Custom */
.gm-style #infowindow-container {
    display: flex;
    flex-direction: column;
}

.gm-style #infowindow-container .title {
    padding: 10px;
    background-color: #FF690F;
    color: white;
    border-radius: 2px 2px 0 0;
}

.gm-style #infowindow-container .content {
    background-color: #F1F1F1;
    flex: 1;
    font-size: 13px;
    padding: 4px 4px 0 4px;
    overflow-y: auto;
}

/* Override */
.gm-style {
    font: inherit !important;
}

.gm-style .custom-iw {
    width: 500px !important;
    height: 278px !important;
}

.gm-style .custom-iw .gm-style-iw {
    font-weight: inherit !important;
    font-size: inherit !important;
    max-width: 522px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.gm-style .custom-iw .gm-style-iw > div {
    display: inherit !important;
    overflow: inherit !important;
}

.gm-style .custom-iw .gm-style-iw > div > div {
    overflow: inherit !important;
}

.gm-style .custom-iw .gm-style-iw,
.gm-style .custom-iw .gm-style-iw > div,
.gm-style .custom-iw .gm-style-iw > div > div,
.gm-style #infowindow-container {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

/* Cross */
.gm-style .gm-style-iw + div {
    height: 21px !important;
    width: 21px !important;
    opacity: 1 !important;
    right: -10px !important;
    top: 5px !important;
    border: 4px solid #FF690F !important;
    border-radius: 13px !important;
}

/* Background and shadow */
.gm-style .custom-iw > div:first-child {
    z-index: 2;
}

.gm-style .custom-iw > div:first-child > div:nth-child(2),
.gm-style .custom-iw > div:first-child > div:nth-child(4) {
    display: none;
}

@media screen and (max-width: 500px) {
    .gm-style .custom-iw {
        width: 90% !important;
    }
}