.detail, .comments {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.detail {
    margin: 20px auto;
}

.comments {
    margin: 0 auto 20px auto;
}

.detail > div, .detail .action, .detail .second-line {
    display: flex;
}

.detail .first-line, .detail .first-line > div:first-child > *:not(:last-child) {
    margin-bottom: 20px;
}

.detail .first-line > div:first-child, .detail .action .button:first-child {
    margin-right: 20px;
}

.detail .first-line > div:first-child > a:first-child {
    padding: 10px;
    background-color: #FF690F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail .profile-picture {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.detail .first-line .contact-button {
    display: block;
    text-align: center;
}

.detail .action .button {
    flex: 1;
    display: flex;
    justify-content: center;
}

.detail .countries, .detail .categories, .detail .second-line {
    border: 1px solid #C6C6C6;
    background-color: #FFFFFF;
    padding: 10px;
}

.detail .countries > p, .detail .categories > p {
    margin-bottom: 10px;
}

.detail .countries ul li {
    display: flex;
    align-items: center;
}

.detail .first-line > div:last-child h2 {
    margin-bottom: 10px;
    color: #FF690F;
}

.detail .first-line > div:last-child p {
    text-align: justify;
}

.detail .second-line p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail svg.dollar {
    width: 12px;
    height: 21px;
    margin-right: 2px;
}

.detail svg.dollar:first-child {
    margin-left: 5px;
}

.detail .value {
    color: #FF690F;
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}

.comments .form-add-comment, .comments .form-edit-comment {
    display: flex;
}

.comments .form-add-comment {
    padding-top: 20px;
    border-top: 1px solid #C6C6C6;
}

.comments .form-add-comment:not(.empty) {
    padding-bottom: 20px;
    border-bottom: 1px solid #C6C6C6;
}

.comments .form-edit-comment {
    display: none;
}

.comments .form-add-comment textarea, .comments .form-edit-comment textarea {
    flex: 1;
    margin: 0 10px 0 0;
}

.comments .comment {
    margin-top: 20px;
    border: 1px solid #C6C6C6;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
}

.comments .comment > div:first-child {
    margin-right: 10px;
}

.comments .profile-link {
    display: block;
}

.comment .profile-link .profile-picture {
    width: 50px;
    height: 50px;
}

.comments .comment .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments .comment .by {
    display: flex;
    justify-content: space-between;
    color: #FF690F;
}

.comments .comment .action {
    display: flex;
    justify-content: flex-end;
}

.comments .comment .action > *:not(:last-child) {
    margin-right: 10px;
}

.comments .comment .action form {
    display: flex;
}

.comments .delete {
    border: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.comments .delete svg {
    width: 15px;
    height: 15px;
}

.comments .edit {
    border: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.comments .edit svg {
    width: 15px;
    height: 15px;
}