{% extends "TMCoreBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block main %}
	<div id="first-home-img">
		<h2 class="grey-filter">Trouvez le compagnon de voyage qui<br>vous
			correspond !</h2>
	</div>
	{{ include("TMPlatformBundle:Travel:form_search.html.twig") }}
	<div id="second-home-img">
		<div class="grey-filter"></div>
	</div>
	<h3 class="home-h3">Derniers voyages ajoutés</h3>
	{{ render(controller("TMPlatformBundle:Travel:last", {'limit': 9})) }}
{% endblock %}