{% extends "TMCoreBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block main %}

	{% for message in app.session.flashbag.get('info') %}
		<div class="alert alert-info">Message flash : {{ message }}</div>
	{% endfor %}

	<div id="home-img">
		<h2>Trouver un compagnon de voyage<br>n'a jamais été aussi simple.</h2>
	</div>
	<h3 class="home-h3">Derniers voyages ajoutés</h3>
	{{ render(controller("TMPlatformBundle:Travel:last", {'limit': 9})) }}

{% endblock %}

{% block javascripts %}
{% javascripts filter='jsqueeze' output="js/script.js"
'bundles/tmcore/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
