{% extends "TMPlatformBundle::layout.html.twig" %}

{% block title %}
	Ajout d'un voyage - {{ parent() }}
{% endblock %}

{% block main %}
	<h2 class="title-form">Ajouter un voyage</h2>
	{{ include("TMPlatformBundle:Travel:form_add_edit.html.twig") }}
{% endblock %}