{% extends "TMPlatformBundle::layout.html.twig" %}

{% block title %}
	Modification d'un voyage
{% endblock %}

{% block tmplatform_body %}
	{{ wo_render_breadcrumbs() }}
	<h2 class="title-form">Modifier un voyage</h2>
	{{ include("TMPlatformBundle:Travel:form_add_edit_travel.html.twig") }}
{% endblock %}