{% extends "TMPlatformBundle::layout.html.twig" %}

{% block title %}
	Modification d'un voyage - {{ parent() }}
{% endblock %}

{% block tmplatform_body %}
	<h2 class="title-form">Modifier un voyage</h2>
	{{ include("TMPlatformBundle:Travel:form_add_edit.html.twig") }}
{% endblock %}