{% extends "TMCoreBundle::layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/tmplatform/css/map.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/tmplatform/css/list.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/tmplatform/css/flags.css') }}">
{% endblock %}

{% block title %}
	Carte du monde
{% endblock %}

{% block classMain %}map{% endblock %}

{% block main %}
	<div id="map"></div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/tmplatform/js/map.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmur4X1lZyhBj39O17cXyvGl5JGd5edrY&callback=initMap" async defer></script>
{% endblock %}