#breadcrumb {
    list-style: none;
    display: flex;
    margin: 20px 10px;
}

#breadcrumb li:first-child::before {
    content: " ";
    display: inline-block;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent #FF690F;
    border-style: solid;
    border-width: 5px 6px;
}

#breadcrumb .separator {
    margin: 0 10px;
    color: #FF690F;
}