body > footer {
    color: #FFFFFF;
    background: #FF690F;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > footer > *:first-child {
    margin-left: 5px;
}

body > footer > *:last-child {
    margin-right: 5px;
}