label {
    margin: 0;
}

input, select, textarea {
    border: 1px solid #C6C6C6;
    padding: 5px;
}

textarea {
    resize: vertical;
}

.title-form {
    text-align: center;
    color: #FF690F;
    margin-top: 20px;
}

.button {
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.button.success {
    color: #fff;
    border: 1px solid #4cae4c;
    background-color: #5CB85C;
    transition: background-color 0.5s;
}

.button.success:hover {
    background-color: #449D44;
}

.button.neutral {
    color: #292B2C;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    transition: background-color 0.5s;
}

.button.neutral:hover {
    background-color: #E6E6E6;
}

.button.primary {
    color: #fff;
    border: 1px solid #2e6da4;
    background-color: #337ab7;
    transition: background-color 0.5s;
}

.button.primary:hover {
    background-color: #286090;
}

.button.danger {
    color: #FFFFFF;
    border: 1px solid #d43f3a;
    background-color: #D9534F;
    transition: background-color 0.5s;
}

.button.danger:hover {
    background-color: #C9302C;
}

#bloc-form {
    background-color: #F1F1F1;
    width: 400px;
    padding: 10px;
    margin: 20px 0;
    border: 3px solid #ff690f;
}

#bloc-form > h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #ff690f;
}

#bloc-form > div {
    margin-bottom: 10px;
}

#bloc-form form {
    display: flex;
    flex-direction: column;
}

#bloc-form form > * {
    width: 100%;
}

#bloc-form form > label:not(:first-child), #bloc-form form > div, #bloc-form form > input[type="submit"] {
    margin-top: 10px;
}

@media screen and (max-width: 440px) {
    #bloc-form {
        width: calc(100% - 40px);
        margin: 20px;
    }
}