body > header {
    color: #FFFFFF;
    background-color: #FF690F;
    height: 50px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

body > header h1 {
    padding: 0 20px;
}

body > header h1 a {
    display: flex;
}

body > header h1 svg {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}