#login {
    background-color: #F1F1F1;
    width: 400px;
    padding: 10px;
}

#login > h2 {
    margin-bottom: 10px;
    text-align: center;
}

#login > div {
    margin-bottom: 10px;
}

#login form {
    display: flex;
    flex-direction: column;
}

#login form > * {
    width: 100%;
}

#login form > label:not(:first-child), #login form > div, #login form > input[type="submit"] {
    margin-top: 10px;
}