/* GOBAL */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* GENERAL */

h1, h2, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

body > header {
    color: #FFFFFF;
    background: #222222;
    padding: 10px 10px 0 10px;
}

/* NAV */

nav {
    background-color: #222222;
    width: 100%;
    border-bottom: 5px solid #25cabf;
}

nav ul {
    display: flex;
}

nav a {
    padding: 10px 0 10px 10px;
    display: block;
    color: #FFFFFF;
}

nav li:last-child a {
    padding-right: 10px;
}

nav a:hover {
    color: #25cabf;
}

/* HOME */

#home-img {
    background: url("../img/home.jpeg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #25cabf;
}

#home-img h2 {
    color: #FFFFFF;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
}

.home-h3 {
    text-align: center;
    color: #222222;
    margin: 20px 0;
}

#last-travel {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0 20px;
}

#last-travel li {
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px;
}

#last-travel li:not(:nth-child(3n+3)) {
    margin-right: 20px;
}

#last-travel a {
    border: 2px solid #25cabf;
    color: #FFFFFF;
    border-radius: 100px 0 0 100px;
    background-color: #222222;
    padding: 10px;
    display: flex;
}

#last-travel figure {
    height: 100px;
}

#last-travel img {
    height: 100%;
    border-radius: 100px;
}

/* FOOTER */

body > footer {
    color: #FFFFFF;
    background: #222222;
    padding: 5px;
    border-top: 2px solid #25cabf;
}